<footer>
        <div class="js_data">
          <p id="time"></p>
        </div>
        <p>Phone: +7 921 632-23-76</p>
        <p>Telegram: @mgkeda</p>
        <img src="images/w15.jpg" class="fixed-image" >
    </footer>