<nav class="navbar">
  <div class="navbar-inner">
    <div class="navbar-logo">
      <div class="navbar-logo-circle">Zz</div>
      <div>
        <div class="navbar-title">Sleep Tracker</div>
        <div class="navbar-subtitle">Better nights, better days</div>
      </div>
    </div>

    <div class="nav-links">
      <a class="nav-link {{#if home}}active{{/if}}" href="/">Home</a>
      <a class="nav-link {{#if stats}}active{{/if}}" href="/projects">Statistics</a>
      <a class="nav-link {{#if goals}}active{{/if}}" href="/hobbies">Goals</a>
      <a class="nav-link {{#if rules}}active{{/if}}" href="/organisations">Rules</a>
      <a class="nav-link {{#if routins}}active{{/if}}" href="/contacts">Routins</a>
    </div>
  </div>
</nav>
