<nav class="topnav">
  <a class="{{#if home}}active{{/if}}" onclick="myFunction('/')">Home</a>
  <a class="{{#if projects}}active{{/if}}" onclick="myFunction('/projects')">Projects</a>
  <a class="{{#if hobbies}}active{{/if}}" onclick="myFunction('/hobbies')">Hobbies</a>
  <a class="{{#if organisations}}active{{/if}}" onclick="myFunction('/organisations')">Organisations</a>
  <a class="{{#if contacts}}active{{/if}}" onclick="myFunction('/contacts')">Contacts</a>
  <a class="{{#if stuff}}active{{/if}}" onclick="myFunction('/stuff')">Всякое</a>
</nav>


