<!DOCTYPE html>
<html lang="ru">
    {{> head }}
<body>
    <div class="app-root">
        {{> navbar }}
        <main class="main">
            <div class="main-inner">
                {{{ body }}}
            </div>
        </main>
        {{> footer }}
    </div>
</body>
</html>